.main
  display: flex
  flex-direction: column

  @media #{$media-md-up}
    flex-direction: row

  &__slogan
    margin-top: 4.1rem !important
    margin-bottom: 3rem

    @media #{$media-md-up}
      margin-bottom: 4.5rem
      margin-top: 9.9rem !important

  &__right
    &_title
      margin: 0
    &_subtitle
      margin: 3rem 0

    &_btn
      margin-bottom: 2.5rem

  &__list
    margin-top: 3rem

  &__col
    min-height: auto
    display: flex
    flex-direction: column
    justify-content: flex-start
    padding: 10rem 10vw

    @media #{$media-md-up}
      justify-content: center
      min-height: 100vh

    &:nth-child(1)
      background: linear-gradient(90deg, rgba(102,147,141,0.8) 0%, rgba(102,147,141,0.8) 100%),center left/cover no-repeat url("/img/block-main/block-main.jpg")
      flex-basis: 67%
      padding: 7rem 13.3vw 4rem

      @media #{$media-md-up}
        padding: 10rem 10vw 10rem 7vw
      @media #{$media-lg-up}
        padding: 10rem 10vw

    &:nth-child(2)
      background: $color_accent
      flex-basis: 33%
      padding: 5.7rem 13.3vw 2.5rem

      @media #{$media-md-up}
        padding: 10rem 5vw 10rem 4.6vw
      @media #{$media-lg-up}
        padding: 10rem 9.4vw 10rem 4.6vw
