.recent
  display: flex

  &__accent-block
    width: 8.8rem
    height: 16rem
    background: $color_accent
    position: absolute
    left: 3rem
    top: 0
    pointer-events: none
    z-index: 0

    &:after
      content: ''
      height: 5rem
      width: 2px
      bottom: -5rem
      background: $color_accent
      right: 0
      position: absolute

    &_last
      left: 0

  &__title
    margin: 12rem 0 5rem 14rem
    line-height: 1em

  &__col
    position: relative
    flex-basis: 33%

    &:nth-child(1)
      padding: 0 0 3rem 3rem
      background: $color_light

    &:nth-child(2)
      background: $color_bg
      padding: 0 3rem 3rem 3rem

    &:nth-child(3)
      flex-basis: 34%
      background: $color_light
      padding: 0 3rem 3rem 0
