.latest
  &__img-wrap
    height: 29rem
    margin-bottom: 3rem

    @media #{$media-md-up}
      height: 51rem

  &__mobile
    display: block

    @media #{$media-md-up}
      display: none

  &__desktop
    display: none

    @media #{$media-md-up}
      display: block

  &__col
    &_two
      display: none

      @media #{$media-md-up}
        background: $color_light
        padding-top: 21rem
        margin-left: -1px
        display: block

    &_three
      display: none

      @media #{$media-md-up}
        display: block
        padding-top: 21rem
