.block-essay

  &__title
  &__subtitle
  &__need
    display: flex
    flex-direction: column
    justify-content: flex-start
    background: $color_accent
    padding: 6.8rem 4.5rem 4rem
    width: 32.6%

  &__subject
  &__topic
  &__col
    &_head
      display: flex
      align-items: center
      justify-content: flex-end
      background: url('/img/block-essay/essay-bg.jpg') no-repeat center center / cover
      padding-right: 3rem

    &_middle
      padding: 12rem 4rem 4rem 14.8rem

    &_bottom