// font
$font-size: 1.6rem
$font-family: 'Lato'
$font-family_accent: 'Raleway'
$line-height: 1.3em
$font: #{$font-size}/#{$line-height} #{$font-family}, sans-serif


//colors
$color_main: #828282
$color_primary: #333333
$color_light: #F2F2F2
$color_secondary: #66938D
$color_accent: #E8BB46
$color_bg: #DAE9E7

$btn_gradient: linear-gradient(90deg, #66938D 0%, #EB5757 100%)
