include mixin

section.recent
  .recent__col
    .recent__accent-block
      .recent__accent-block_sm
    h3.recent__title
      | Most
      br
      | recent essays

    +essay('The best students essay writing service from east to west!', '826 Words', 'Sep 17, 2018', '4 Pages', 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...')

  .recent__col
    .recent__accent-block
    h3.recent__title 
      | Most recent
      br 
      | shared essays

  .recent__col
    .recent__accent-block.recent__accent-block_last
    h3.recent__title
      | Most
      br 
      | discussing essays
