include mixin

-
  var recentEssays = [
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
    {
      title: 'Stakeholders Compensation System', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'There are five different stakeholders of a company compensation system and the human resource department provides them within and outside the companies. They are as follow: Employees, line managers, executives, unions, and US government. Stakeholders is performance-based compensation that focuses everyone in an organization on long-term while providing unlimited compensation opportunities for those who…'
    },
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
    {
      title: 'Stakeholders Compensation System', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'There are five different stakeholders of a company compensation system and the human resource department provides them within and outside the companies. They are as follow: Employees, line managers, executives, unions, and US government. Stakeholders is performance-based compensation that focuses everyone in an organization on long-term while providing unlimited compensation opportunities for those who…'
    },
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
  ];

  var sharedEssays = [
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
    {
      title: 'Stakeholders Compensation System', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'There are five different stakeholders of a company compensation system and the human resource department provides them within and outside the companies. They are as follow: Employees, line managers, executives, unions, and US government. Stakeholders is performance-based compensation that focuses everyone in an organization on long-term while providing unlimited compensation opportunities for those who…'
    },
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
    {
      title: 'Stakeholders Compensation System', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'There are five different stakeholders of a company compensation system and the human resource department provides them within and outside the companies. They are as follow: Employees, line managers, executives, unions, and US government. Stakeholders is performance-based compensation that focuses everyone in an organization on long-term while providing unlimited compensation opportunities for those who…'
    },
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
    {
      title: 'Stakeholders Compensation System', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'There are five different stakeholders of a company compensation system and the human resource department provides them within and outside the companies. They are as follow: Employees, line managers, executives, unions, and US government. Stakeholders is performance-based compensation that focuses everyone in an organization on long-term while providing unlimited compensation opportunities for those who…'
    },
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
  ];

  var discussingEssaysOne = [
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
    {
      title: 'Stakeholders Compensation System', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'There are five different stakeholders of a company compensation system and the human resource department provides them within and outside the companies. They are as follow: Employees, line managers, executives, unions, and US government. Stakeholders is performance-based compensation that focuses everyone in an organization on long-term while providing unlimited compensation opportunities for those who…'
    },
  ];

  var discussingEssaysTwo = [
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
    {
      title: 'The best students essay writing service from east to west!', 
      words: '826 Words',
      date: 'Sep 17, 2018',
      pages: '4 Pages',
      text: 'Writing your successful essay! We make your writing dreams come true, bright and sound with our help 24/7! Get your order in few steps and succeed in a day! Our company helps you to edit, write and to add trustworthy references to your work! ...'
    },
  ];

section.recent
  .recent__col.recent__col_one
    .recent__accent-block
      .recent__accent-block_sm
    h3.recent__title
      | Most
      br
      | recent essays

    each essay in recentEssays
      +essay(essay)

  include block-need
  .recent__col.recent__col_two
    .recent__accent-block
    h3.recent__title 
      | Most recent
      br 
      | shared essays

    each essay in sharedEssays
      +essay(essay)

  include block-need
  .recent__col.recent__col_three
    .recent__accent-block.recent__accent-block_last
    h3.recent__title
      | Most
      br 
      | discussing essays

    each essay in discussingEssaysOne
      +essay(essay)

    .need__desktop
      include block-need

    each essay in discussingEssaysTwo
      +essay(essay)
