include mixin

- 
  var title = "Topics"

  var freeTopics = [
    {
      link: '#',
      content: [
        {
          free: 'Literature Education Art',
        },
        {
          free: 'Management War Business'
        },
        {
          free: 'William Shakespeare Life Society'
        },
        {
          free: 'Economics Childhood Culture Psychology'
        },
        {
          free: 'Health Learning Marketing'
        },
        {
          free: 'Law Development'
        },
      ]
    },
    {
      link: 'a',
      content: [
        {
          topics: 'A',
          free: 'A'
        },
      ]
    },
    {
      link: 'b',
      content: [
        {
          topics: 'D',
          free: 'd'
        },
      ]
    },
    {
      link: 'c',
      content: [
        {
          topics: 'C',
          free: 'C'
        },
      ]
    },
    {
      link: 'd',
      content: [
        {
          topics: 'D',
          free: 'D'
        },
      ]
    },
    {
      link: 'e',
      content: [
        {
          topics: 'E',
          free: 'E'
        },
      ]
    },
    {
      link: 'f',
      content: [
        {
          topics: 'F',
          free: 'F'
        },
      ]
    },
    {
      link: 'g',
      content: [
        {
          topics: 'G',
          free: 'G'
        },
      ]
    },
    {
      link: 'h',
      content: [
        {
          topics: 'H',
          free: 'H'
        },
      ]
    },
    {
      link: 'i',
      content: [
        {
          topics: 'I',
          free: 'I'
        },
      ]
    },
    {
      link: 'j',
      content: [
        {
          topics: 'J',
          free: 'J'
        },
      ]
    },
    {
      link: 'k',
      content: [
        {
          topics: 'K',
          free: 'K'
        },
      ]
    },
    {
      link: 'l',
      content: [
        {
          topics: 'L',
          free: 'L'
        },
      ]
    },
    {
      link: 'm',
      content: [
        {
          topics: 'M',
          free: 'M'
        },
      ]
    },
    {
      link: 'n',
      content: [
        {
          topics: 'N',
          free: 'N'
        },
      ]
    },
    {
      link: 'o',
      content: [
        {
          topics: 'O',
          free: 'O'
        },
      ]
    },
    {
      link: 'p',
      content: [
        {
          topics: 'P',
          free: 'P'
        },
      ]
    },
    {
      link: 'q',
      content: [
        {
          topics: 'Q',
          free: 'Q'
        },
      ]
    },
    {
      link: 'r',
      content: [
        {
          topics: 'R',
          free: 'R'
        },
      ]
    },
    {
      link: 's',
      content: [
        {
          topics: 'S',
          free: 'S'
        },
      ]
    },
    {
      link: 't',
      content: [
        {
          topics: 'T',
          free: 'T'
        },
      ]
    },
    {
      link: 'u',
      content: [
        {
          topics: 'U',
          free: 'U'
        },
      ]
    },
    {
      link: 'v',
      content: [
        {
          topics: 'V',
          free: 'V'
        },
      ]
    },
    {
      link: 'w',
      content: [
        {
          topics: 'W',
          free: 'W'
        },
      ]
    },
    {
      link: 'x',
      content: [
        {
          topics: 'X',
          free: 'X'
        },
      ]
    },
    {
      link: 'y',
      content: [
        {
          topics: 'Y',
          free: 'Y'
        },
      ]
    },
    {
      link: 'z',
      content: [
        {
          topics: 'Z',
          free: 'Z'
        },
      ]
    },
  ];

  var tabLinks = [
    {
      link: '#',
      content: [
        {
          topics: 'Accounting Essays',
          free: 'Literature Education Art',
        },
        {
          topics: 'Architecture Essays',
          free: 'Management War Business'
        },
        {
          topics: 'Business Essays',
          free: 'William Shakespeare Life Society'
        },
        {
          topics: 'Economics Essays',
          free: 'Economics Childhood Culture Psychology'
        },
        {
          topics: 'Education Essays',
          free: 'Health Learning Marketing'
        },
        {
          topics: 'Engineering Essays',
          free: 'Law Development'
        },
        {
          topics: 'English Language Essays',
        },
        {
          topics: 'English Literature Essays',
        },
        {
          topics: 'Environmental Studies Essays',
        },
        {
          topics: 'Finance Essays',
        },
        {
          topics: 'History Essays',
        },
        {
          topics: 'Information Technology',
        },
        {
          topics: 'International Relations',
        },
        {
          topics: 'Law Essays',
        },
        {
          topics: 'Management Essays',
        },
        {
          topics: 'Marketing Essays',
        },
        {
          topics: 'Media Essays',
        },
        {
          topics: 'Medicine Essays',
        },
        {
          topics: 'Pyschology Essays',
        },
        {
          topics: 'Religious Studies/Theology',
        },
        {
          topics: 'Science Essays',
        },
        {
          topics: 'Sociology Essays',
        },
        {
          topics: 'Miscellaneous Essays',
        },
        {
          topics: 'Free Coursework',
        },
      ]
    },
    {
      link: 'a',
      content: [
        {
          topics: 'A',
          free: 'A'
        },
      ]
    },
    {
      link: 'b',
      content: [
        {
          topics: 'D',
          free: 'd'
        },
      ]
    },
    {
      link: 'c',
      content: [
        {
          topics: 'C',
          free: 'C'
        },
      ]
    },
    {
      link: 'd',
      content: [
        {
          topics: 'D',
          free: 'D'
        },
      ]
    },
    {
      link: 'e',
      content: [
        {
          topics: 'E',
          free: 'E'
        },
      ]
    },
    {
      link: 'f',
      content: [
        {
          topics: 'F',
          free: 'F'
        },
      ]
    },
    {
      link: 'g',
      content: [
        {
          topics: 'G',
          free: 'G'
        },
      ]
    },
    {
      link: 'h',
      content: [
        {
          topics: 'H',
          free: 'H'
        },
      ]
    },
    {
      link: 'i',
      content: [
        {
          topics: 'I',
          free: 'I'
        },
      ]
    },
    {
      link: 'j',
      content: [
        {
          topics: 'J',
          free: 'J'
        },
      ]
    },
    {
      link: 'k',
      content: [
        {
          topics: 'K',
          free: 'K'
        },
      ]
    },
    {
      link: 'l',
      content: [
        {
          topics: 'L',
          free: 'L'
        },
      ]
    },
    {
      link: 'm',
      content: [
        {
          topics: 'M',
          free: 'M'
        },
      ]
    },
    {
      link: 'n',
      content: [
        {
          topics: 'N',
          free: 'N'
        },
      ]
    },
    {
      link: 'o',
      content: [
        {
          topics: 'O',
          free: 'O'
        },
      ]
    },
    {
      link: 'p',
      content: [
        {
          topics: 'P',
          free: 'P'
        },
      ]
    },
    {
      link: 'q',
      content: [
        {
          topics: 'Q',
          free: 'Q'
        },
      ]
    },
    {
      link: 'r',
      content: [
        {
          topics: 'R',
          free: 'R'
        },
      ]
    },
    {
      link: 's',
      content: [
        {
          topics: 'S',
          free: 'S'
        },
      ]
    },
    {
      link: 't',
      content: [
        {
          topics: 'T',
          free: 'T'
        },
      ]
    },
    {
      link: 'u',
      content: [
        {
          topics: 'U',
          free: 'U'
        },
      ]
    },
    {
      link: 'v',
      content: [
        {
          topics: 'V',
          free: 'V'
        },
      ]
    },
    {
      link: 'w',
      content: [
        {
          topics: 'W',
          free: 'W'
        },
      ]
    },
    {
      link: 'x',
      content: [
        {
          topics: 'X',
          free: 'X'
        },
      ]
    },
    {
      link: 'y',
      content: [
        {
          topics: 'Y',
          free: 'Y'
        },
      ]
    },
    {
      link: 'z',
      content: [
        {
          topics: 'Z',
          free: 'Z'
        },
      ]
    },
  ];

section.block-essay
  .block-essay__col.block-essay__col_head
    .block-essay__need
      h2.need__title 
        | Need a custom
        br
        | essay?

      h5.need__subtitle We will write it for you.

      a(href='#').main-btn.need__btn Order now

  .block-essay__col.block-essay__col_middle
    h1.block-essay__title Essay

    .tab__wrap
      ul.tab
        each tab in tabLinks
          li.tab__links #{tab.link}

  .block-essay__col.block-essay__col_bottom
    .block-essay__subject
      .block-essay__subject-block
      h3.block-essay__subtitle
        | Free essays
        br
        | by subject:

      each letter in tabLinks
        .tab__content
          each topic in letter.content
            a.tab__topics-links(href='essay-page.html')
              +topicsItem(topic)(class='tab__content-item')

    .block-essay__topic
      .block-essay__topic-block
      h3.block-essay__subtitle
        | Free essays
        br
        | by topic:
      div
        each letter in freeTopics
          .tab__content_free
            each topic in letter.content
              a.tab__topics-links(href='essay-page.html')
                +topicsFreeItem(topic)(class='tab__content-item')
