include mixin

- 
  var title = "Topics"
  var tabLinks = [
    {
      link: '#',
      content: [
        {
          topics: 'Accounting Essays',
        },
        {
          topics: 'Architecture Essays',
        },
        {
          topics: 'Business Essays',
        },
        {
          topics: 'Economics Essays',
        },
        {
          topics: 'Education Essays',
        },
        {
          topics: 'Engineering Essays',
        },
        {
          topics: 'English Language Essays',
        },
        {
          topics: 'English Literature Essays',
        },
        {
          topics: 'Environmental Studies Essays',
        },
        {
          topics: 'Finance Essays',
        },
        {
          topics: 'History Essays',
        },
        {
          topics: 'Information Technology',
        },
        {
          topics: 'International Relations',
        },
        {
          topics: 'Law Essays',
        },
        {
          topics: 'Management Essays',
        },
        {
          topics: 'Marketing Essays',
        },
        {
          topics: 'Media Essays',
        },
        {
          topics: 'Medicine Essays',
        },
        {
          topics: 'Pyschology Essays',
        },
        {
          topics: 'Religious Studies/Theology',
        },
        {
          topics: 'Science Essays',
        },
        {
          topics: 'Sociology Essays',
        },
        {
          topics: 'Miscellaneous Essays',
        },
        {
          topics: 'Free Coursework',
        },
      ]
    },
    {
      link: 'a',
      content: [
        {
          topics: 'A',
        },
      ]
    },
    {
      link: 'b',
      content: [
        {
          topics: 'D',
        },
      ]
    },
    {
      link: 'c',
      content: [
        {
          topics: 'C',
        },
      ]
    },
    {
      link: 'd',
      content: [
        {
          topics: 'D',
        },
      ]
    },
    {
      link: 'e',
      content: [
        {
          topics: 'E',
        },
      ]
    },
    {
      link: 'f',
      content: [
        {
          topics: 'F',
        },
      ]
    },
    {
      link: 'g',
      content: [
        {
          topics: 'G',
        },
      ]
    },
    {
      link: 'h',
      content: [
        {
          topics: 'H',
        },
      ]
    },
    {
      link: 'i',
      content: [
        {
          topics: 'I',
        },
      ]
    },
    {
      link: 'j',
      content: [
        {
          topics: 'J',
        },
      ]
    },
    {
      link: 'k',
      content: [
        {
          topics: 'K',
        },
      ]
    },
    {
      link: 'l',
      content: [
        {
          topics: 'L',
        },
      ]
    },
    {
      link: 'm',
      content: [
        {
          topics: 'M',
        },
      ]
    },
    {
      link: 'n',
      content: [
        {
          topics: 'N',
        },
      ]
    },
    {
      link: 'o',
      content: [
        {
          topics: 'O',
        },
      ]
    },
    {
      link: 'p',
      content: [
        {
          topics: 'P',
        },
      ]
    },
    {
      link: 'q',
      content: [
        {
          topics: 'Q',
        },
      ]
    },
    {
      link: 'r',
      content: [
        {
          topics: 'R',
        },
      ]
    },
    {
      link: 's',
      content: [
        {
          topics: 'S',
        },
      ]
    },
    {
      link: 't',
      content: [
        {
          topics: 'T',
        },
      ]
    },
    {
      link: 'u',
      content: [
        {
          topics: 'U',
        },
      ]
    },
    {
      link: 'v',
      content: [
        {
          topics: 'V',
        },
      ]
    },
    {
      link: 'w',
      content: [
        {
          topics: 'W',
        },
      ]
    },
    {
      link: 'x',
      content: [
        {
          topics: 'X',
        },
      ]
    },
    {
      link: 'y',
      content: [
        {
          topics: 'Y',
        },
      ]
    },
    {
      link: 'z',
      content: [
        {
          topics: 'Z',
        },
      ]
    },
  ];

section.block-essay
  .block-essay__col.block-essay__col_head
    .block-essay__need
      h2.need__title 
        | Need a custom
        br
        | essay?

      h5.need__subtitle We will write it for you.

      a(href='#').main-btn.need__btn Order now


  .block-essay__col.block-essay__col_middle
    h1.block-essay__title Essay

    .tab__wrap
      ul.tab
        each tab in tabLinks
          li.tab__links #{tab.link}

  .block-essay__col.block-essay__col_bottom
    .block-essay__subject
      h3.block-essay__subtitle
        | Free essays
        br
        | by subject:

      each letter in tabLinks
        .tab__content
          each topic in letter.content
            a.tab__topics-links(href='essay-page.html')
              +topicsItem(topic)(class='tab__content-item')

    .block-essay__topic
      h3.block-essay__subtitle
        | Free essays
        br
        | by topic:
