section.share
  .share__col
    form.checker__form(action='#')
      input.checker__form-input(type="text", placeholder='Place Your Title Here')
      textarea.checker__form-input.checker__form-input_textarea(type="text", placeholder='Paste Your Text Here')

      .upload.checker__form-input.checker__form-input_upload

      .checker__form-wrap
        button.main-btn(type='submit') Share Now

  .share__col
    h1.share__title
      | Share
      br
      | Your Essay

    p.share__text.share__text_one By submitting your essay, you are warranting that the essay was written by you and that it is OK for us to use this paper for educational purposes. Essay.biz will not sell or disclose your contact information to third parties.
    p.share__text By clicking Share Essay you agree to our Terms
