section.block-essay

  .block-essay__col.block-essay__col_head
    .block-essay__need
      h2.need__title 
        | Need a custom
        br
        | essay?

      h5.need__subtitle We will write it for you.

      a(href='#').main-btn.need__btn Order now


  .block-essay__col.block-essay__col_middle
    h1.block-essay__title Essay

  .block-essay__col.block-essay__col_bottom
    .block-essay__subject
      h3.block-essay__subtitle
        | Free essays
        br
        | by subject:

    .block-essay__topic
      h3.block-essay__subtitle
        | Free essays
        br
        | by topic:
