footer.footer
  .main__col.footer__col
    div
      h1.footer__title.white
        | OUR SERVICE WILL BE
        br
        | HELPFUL FOR:

      p.footer__text.white Essay.biz helps thousands of students learn about the writing process and improve their writing skills. We do this by showcasing sample quality papers written by students like you. You can help by sharing a sample essay. We greatly appreciate any submission, although we can't guarantee that every submission will be published.

    .footer-contact__wrap
      .footer-contact__col
        h3.footer-contact__title essay.biz

        ul.footer-list
          li.footer-list__item
            a.footer-list__link(href='about-page.html') About
          li.footer-list__item Contact us
          li.footer-list__item FAQ

      .footer-contact__col
        h3.footer-contact__title Contact us

        ul.footer-list
          li.footer-list__item.footer-list__item_right
            a.footer-list__link.white(href="#")
              img.footer-list__img(src="/img/icons/phone.svg", alt="") 
              | +8 800 000 00  (24/7)
          li.footer-list__item.footer-list__item_right
            a.footer-list__link.white(href="#")
              img.footer-list__img(src="/img/icons/mail.svg", alt="") 
              | email@essay.biz
          li.footer-list__item.footer-list__item_right
            a.footer-list__link.white(href="#")
              img.footer-list__img(src="/img/icons/fb.svg", alt="") 
              | @essay.biz
          li.footer-list__item.footer-list__item_right
            a.footer-list__link.white(href="#")
              img.footer-list__img(src="/img/icons/twitter.svg", alt="") 
              | @essay.biz

    .footer__small_wrap
      small.footer__small.white Terms & Conditions
      small.footer__small.white Privacy Policy
      small.footer__small.white DMCA

  .main__col.footer__col
    h2.main__right_title.footer-right__title
      | Have any
      br
      | questions?

    form.footer-form
      input.footer-form__input(type="text", placeholder='E-mail')
      input.footer-form__input(type="text", placeholder='Name')
      textarea.footer-form__textarea(type="text", placeholder='Enter your message')

    a.main-btn.main__right_btn(href='#') Send message
