#login.login
  span#login-close.login__close
    img.login__close-img(src="/img/icons/menu.svg", alt="Close modal")

  .login__content
    h2.login__title Log in / Sign up

    p.login__text You need to Log in or Sign up for a new account in order to access this page

    form.login-form(action="#")
      input.login-form__input(type="text", placeholder='Enter your email to proceed')
      button.main-btn(type='submit') Continue

    small.login__small By clicking “Continue”, you agree to our terms of service and privacy policy. We’ll occasionally send you promo and account related emails.

    a.main-btn.main-btn_fb(href="#") Login with Facebook