#menu-mobile.menu-mobile
  .menu-mobile__header
    span#menu-close.menu-mobile__img-wrap
      img.menu-mobile__close(src='/img/icons/menu.svg', alt='Close menu')

    .menu-mobile__search
      form.search__form(action='#')
        input.search__input(type='text', name='search')
        input.search__button(type='image', src='/img/icons/search.svg')

  .menu-mobile__content
    a.menu-mobile__title(href='#') Need a custom essay?
      a.menu-mobile__link(href='#') Most recent essays
      a.menu-mobile__link(href='#') Most recent shared essays
      a.menu-mobile__link(href='#') Most discussing essays

    a.menu-mobile__title(href='#') Essay
      a.menu-mobile__link(href='#') Free essays by subject
      a.menu-mobile__link(href='#') Free essays by topic
      a.menu-mobile__link(href='#') Latest essays

    a.menu-mobile__title(href='#') Helpful tips & tricks for writing essay
      a.menu-mobile__link(href='#') Popular Types of assays

    a.menu-mobile__title(href='#') Share Your Essay
    a.menu-mobile__title(href='#') Have any questions?
    a.menu-mobile__title(href='#') Contacts