script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')

// upload form
script(src='formstone/core.js')
script(src='formstone/upload.js')

script(type="module", src='js/main.js')
script(type="module", src='js/topics-tab.js')
