extends partials/layout

block vars
  - var title = "ABOUT ESSAY.BIZ"

block content
  include partials/menu
  include partials/login
  //- include partials/navigation

  include partials/page-header

  section.page__wrap
    .page__wrap-block.wow.clipInLeft
    .page__content.wow.clipInDown
      .page__col
        h2.page__name
          | About
          br
          | Essay.biz

        .page__social-wrap
          .page__social-item
            a.social-btn.social-btn_fb(href="#")
              img(src='/img/icons/fb.svg', alt="Facebook")
            p.page__social-text 25
          .page__social-item
            a.social-btn.social-btn_twitter(href="#")
              img(src='/img/icons/twitter.svg', alt="Facebook")
            p.page__social-text 54
          .page__social-item
            a.social-btn.social-btn_telegram(href="#")
              img(src='/img/icons/telegram.svg', alt="Facebook")
            p.page__social-text 36

      .page__col
        p.page__text.page__text_one Like any other well-known success of individuals or groups determined by the number of followers, and our success is determined by the number of satisfied students. More than 90% of work annually receive an “excellent”. We have something to be proud of! We do not have to be difficult honors with a team of professionals, but it is difficult to compete on this market.
        p.page__text Not because of the weaknesses of the company, but due to hasty choices that students make.
        p.page__text Not every resource work in good faith. It’s the Internet. Also, it was not forbidden and banal fraud scam, which takes place in the network. But what can we do? What can we do for you?
        p.page__text In 2013, writingessayeast.com took part in consumer protection campaign. In a search on the net fake resources to enrich themselves at the credulity of the other students.
        p.page__text However, as it turned out, this problem can not be solved at the root. In place of the non-functional resource appear new.

    .block-essay__col.block-essay__col_head.page__need
      .block-essay__need
        h2.need__title 
          | Need a custom
          br
          | essay?

        h5.need__subtitle We will write it for you.
        a(href='#').main-btn.need__btn Order now

    .page__content.wow.clipInDown
      .page__col
      .page__col
        h2 How to avoid fraud?
        h4 What can you do about it:

        ul.list.page-terms-list
          li.list__item.page-terms-list__item Trust to one company.
          li.list__item.page-terms-list__item Possible to ask all that you are interested in managers.
          li.list__item.page-terms-list__item Be assertive.
          li.list__item.page-terms-list__item Advance search for information on this or that company.
          li.list__item.page-terms-list__item Read reviews of other customers.
          li.list__item.page-terms-list__item Try to check the authenticity of these reviews.

        p.page__text.page__bold.mb-5 Also, for convenience, use the services of a resource in writing essays and other academic disciplines, you can use the following tips:

        ul.list.mb-5
          li.list__item.page-terms-list__item Start with small orders. This will reduce the percentage of the lost amount of money if it turns out the resource is not present.
          li.list__item.page-terms-list__item Pre-ordered work. Before the start of training, you can even learn the curriculum, to not order essays at the last moment before the deadline.
          li.list__item.page-terms-list__item Typically, the greatest load on the work on writing sites come in the spring or late winter and summer.
          
        p.page__text Quality of work, honest, responsible and careful attitude to each client, reasonable prices and flexible system of discounts – this is what allows us to develop dynamically, to attract more new customers and conquer the hearts of regular customers.
        p.page__text We hope that each reader will be able to read and understand the work that he orders. Yes, our work can influence the reader. Every professional writer can explain any difficult concept, but we should not be serious. Sometimes some rotten essay is a broad topic.
        p.page__text This allows you to work for a few hours. Even taking into account the disclosure of the issue, the arguments, and a little literary language, which improves performance.
