extends partials/layout

block vars
  - var title = "ESSAY.BIZ"

block content
  include partials/menu

  include partials/block-main
  include partials/block-recent
  include partials/block-essay
  include partials/block-latest
  include partials/block-tips
