extends partials/layout

block vars
  - var title = "ABOUT ESSAY.BIZ"

block content
  include partials/menu
  include partials/login
  include partials/navigation

  include partials/page-header

  section.page__wrap
    .page__wrap-block
    .page__content
      .page__col
        h2.page__name
          | terms and 
          br
          | conditions

      .page__col
        h4.page-terms__title Please Read These Terms Carefully Before Using this Service
        p.page-terms__text This TERMS AND CONDITIONS was last modified on 20th September 2017.
        p.page-terms__text This terms and conditions describes which you accept by using our Website or our Services.
        p.page-terms__text The contents on this website are provided by “LTD”­, registered under the USA Law. The site is an online platform which connects Writers who provide services and Customers who are in need of such services.

        h3.page-terms__big-title Definitions

        p.page-terms__text 1.1. ‘Customer’ is the person who places order through Plan B Services to obtain the product according to his or her requirements and is governed by the defined terms and conditions (referred to as “you”).
        p.page-terms__text 1.2. ‘Writer’ is the person, who has agreed to work on a freelance basis to provide writing services like essays, dissertations, etc. under Plan B Services’s terms.
        p.page-terms__text 1.3. An ‘Order’ is an electronic request for a paid service from the Сustomer for a particular writing service. Order specifies the scope of work and other requirements of the Customer regarding the product.
        p.page-terms__text 1.4. A ‘Product Revision’ is an edited version of the original product initiated by the Сustomer.
        p.page-terms__text 1.5. ‘Support Team or Support’ is the part of Plan B Services’s organizational structure with the mission to assist and coordinate the order process, product and/or service.
        p.page-terms__text 1.6. An ‘Order Status’ is the stage at which the order is being processed at present.
        p.page-terms__text 1.7. The ‘Quality Assurance Department’ is the part of Plan B Services’s organizational structure with the mission to guard and evaluate the quality of the provided products or services.
        p.page-terms__text 1.8. The ‘Messaging System’ is an interactive feature that ensures effective communication between the Customer and the Support/Writer.

        h3.page-terms__big-title Acceptance of Terms

        ul.list.page-terms-list
          li.list__item.page-terms-list__item Trust to one company.
          li.list__item.page-terms-list__item Possible to ask all that you are interested in managers.
          li.list__item.page-terms-list__item Be assertive.
          li.list__item.page-terms-list__item Advance search for information on this or that company.
          li.list__item.page-terms-list__item Read reviews of other customers.
          li.list__item.page-terms-list__item Try to check the authenticity of these reviews.

        p.page-terms__text 2.1. Plan B Services offers this platform to enable you to utilize the services of Writers, conditional on your acceptance without modification, of the Terms, and notices contained in this agreement and any operating rules, policies, and procedures that are published on this Site by Plan B Services (collectively, the “Terms”). The following Terms govern your access to and use of our Service. Your subscription and use of the Service constitutes your agreement to all such Terms. We may update these Terms from time to time without notice to you. You have to check this Terms time to time.
        p.page-terms__text 2.2. The words “use” or “using” in this Agreement, means any time a User (a person visiting/using the content/service of the site), directly or indirectly, with or without the aid of a machine or device, does or attempts to access, interact with, use, display, view, print or copy from Plan B Services’s Services (see clause 3 below), transmit, receive or exchange data or communicate with the Plan B Services’s Services, or in any way utilizes, benefits, takes advantage of or interacts with any function, service or feature of the Plan B Services’s Services, for any purpose whatsoever.
        p.page-terms__text 2.3. Unless explicitly stated otherwise, the Terms will govern the use of any new features that augment or enhance the current Services, including the release of new Plan B Services’s resources and services.
